body {
  font: Verdana, sans-serif;
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}
h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 2.5rem;
  margin: 0 20% 0 15%;
}
hr {
  border: 0;
  height: 0.1rem;
  background-image: linear-gradient(to right, transparent, rgb(65, 47, 42) 19%, transparent);
}

/*****************************************************
NAVBAR
*****************************************************/

.navbar {
  font-weight: 300;
  position: fixed;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);

  padding-bottom: 0px;
}

.navbar-brand {
  padding: 0;
}

.navbar-logo {
  height: 35px;
}
.navbar-logo:hover {
  filter: brightness(85%);
}

.my-nav-link {
  padding: 0 8px 4px 8px;
}

/* Normal navlinks */
.nav-link {
  color: white;
}
.nav-link:hover {
  color: rgb(202, 202, 202);
}

/* Active navlink */
.nav-link.active {
  color: rgb(174, 31, 0) !important;
}
.nav-link.active:hover {
  color: rgb(241, 44, 0) !important;
}

/* Dropdown icon */
.navbar-menu-icon {
  color: white;
}
.navbar-menu-icon:hover {
  color: rgb(202, 202, 202);
}

.nav-div-with-logo {
  padding-bottom: 8px;
}

/*****************************************************
  FOOTER
  *****************************************************/
footer {
  text-align: center;
  position: relative;
  height: 56px;
}
.footer-background {
  width: 100%;
  height: 100%;
  background-color: rgb(65, 47, 42);
  filter: brightness(50%);
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}
.copyright {
  position: absolute;
  height: fit-content;
  color: rgb(160, 160, 160);
  margin: auto;
  inset: 0;
  font-size: 0.6rem;
}
